//====================
// Mixins
//====================

@mixin flexy(
  $dir: null,
  $just: null,
  $wrap: null) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  flex-wrap: $wrap;
 }

 @mixin mq($break) {
   @if $break == "small" {
     @media (min-width: $break-s) and (max-width: $break-m) {
       @content;
     }
   }
   @else if $break == "medium" {
     @media (min-width: $break-m + 1) {
        @content;
     }
   }
   @else if $break == "large" {
     @media (min-width: $break-l) {
       @content;
     }
   }
   @else {
     @error "Whoops! No value could be retrieved for `#{$break}`."
   }
 }