// ================
// Placeholders
// ================

%btn-- {
    border: none;
    color: $background;
    text-transform: uppercase;
    margin: .4em 1em 1.2em !important;
    }

%img {
    display: block;
    box-sizing: border-box;
    margin: 1em auto;
}

%link {
    text-decoration: none;
}

%nav {
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}