// ======================================
//  Variables
// ======================================

// Fonts
$mainfont: 'Open Sans', Helvetica, Arial, sans-serif;

// Colors
$color-primary: #58e1c1;
$background: #ffffff;
$text: #5a5a5a;