// ================
// Buttons
// ================

.btn-- {
    &default {
        @extend %btn--;
        background-color: $default;
    }
    &success {
        @extend %btn--;
        background-color: $success;
    }
    &error {
        @extend %btn--;
        background-color: $error;
    }
    &warning {
        @extend %btn--;
        background-color: $warning;
    }
    &info {
        @extend %btn--;
        background-color: $info;
    }
}
