// ================
// Buttons
// ================

%btn-- {
    border: none;
      color: $background;
      text-transform: uppercase;
      margin: .8em 0;
      padding: .8em 3.4em;
  }

.btn-- {
    &default {
        @extend %btn--;
        background-color: $default;
    }
    &success {
        @extend %btn--;
        background-color: $success;
    }
    &error {
        @extend %btn--;
        background-color: $error;
    }
    &warning {
        @extend %btn--;
        background-color: $warning;
    }
    &info {
        @extend %btn--;
        background-color: $info;
    }
}
