//========================
// Forms
//========================

.form {
  display: flex;
  flex-direction: column;
}

.form__label--hidden {
  display: none;
}

.form__input {
  align-self: center;
  box-sizing: border-box;
  width: 90%;
  border: none;
  border-bottom: 6px solid $color-primary;
  padding: 1em;
  font-weight: 700;
  font-size: 14px;
  margin: 1em;
}