//====================
// Grid
//====================

.grid__row {
  @include flexy(column, space-between);
  padding: .6em 0;
  margin: .8em 0;
  @include mq(medium) {
    @include flexy(row);
    align-items: center;
  }
  max-width: $max-width;
}

.grid__col--3 {
  flex: 2;
  &.theme__colors {
    background-color: $grid3;
  }
}

.grid__col--4 {
  flex: 1;
  &.theme__colors {
    background-color: $grid4;
  }
}

.grid__col--5 {
  flex: 2;
  &.theme__colors {
    background-color: $grid5;
  }
}

.grid__col--6 {
  flex: 1;
  &.theme__colors {
    background-color: $grid6;
  }
}

.grid__col--7 {
  flex: 3;
  &.theme__colors {
    background-color: $grid7;
  }
}

.grid__col--8 {
  flex: 2;
  &.theme__colors {
    background-color: $grid8;
  }
}

.grid__col--9 {
  flex: 3;
}

.grid__col--12 {
  @include flexy(column);
  @include mq(medium) {
    @include flexy(row);
    flex: 1 100%;
    justify-content: space-around;
  }
  &.theme__colors {
    background-color: $grid12;
  }
}

.centered {
  @include mq(medium) {
    margin: 0 20% !important;
  }
}

.theme__colors {
  border-radius: 5px;
  font-weight: bold;
  padding: .9em;
  margin: 4px 5px;
  font-size: 14px;
  @include mq(medium) {
    padding: .8em 3.4em;
    text-align: center;
  }
}