//=====================
// Navigation
//=====================

.nav {
  @include flexy(column);
  margin: 1em auto;
  &__item {
    @extend %nav;
    a {
      color: $text;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      padding: 1em;
      &:hover {
        color: $background;
        background-color: $color-primary;
      }
    }
  }
  @include mq(medium) {
    @include flexy(row);
    align-items: center;
    margin-left: 2em;
  }
}