//=====================
// Navigation
//=====================

.nav {
  @include flexy(column);
  margin-bottom: 1em;
  &__item {
    text-align: center;
    a {
      color: $text;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      padding: 1em;
      &:hover {
        color: $background;
        background-color: $color-primary;
      }
    }
  }
  @media (min-width: $break-m) {
    @include flexy(row);
    align-items: center;
  }
}