// ======================================
//  Base Styles
// ======================================

.container {
  width: 90%;
  margin: 0 auto;
  font-family: $mainfont;
  color: $text;
  max-width: $max-width;
}