// ======================================
//  Base Styles
// ======================================

.container {
  max-width: 80%;
  margin: 0 auto;
  font-family: $mainfont;
}

.card {
  line-height: 2em;
}